# Python cache/junk
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
ENV/

# Secrets
*.env
*.key
*.json
*.yaml
*.yml

# Data
data/
datasets/
*.csv
*.xlsx
*.parquet
*.log

# Models
models/
checkpoints/
*.pkl
*.pt
*.onnx
*.joblib
